# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtualenv
venv/
.env

# VSCode
.vscode/

# MacOS
.DS_Store

# Logs
*.log

# Test/coverage
htmlcov/
.coverage
.tox/
.pytest_cache/

# MySQL dumps
*.sql

# Docker
*.pid
docker-compose.override.yml

# Alembic
alembic/versions/

# Ignore secrets
*.secret
*.key
*.pem

# Jupyter
.ipynb_checkpoints/

# Misc
*.swp
*.swo
