services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: reward_db
      MYSQL_USER: reward_user
      MYSQL_PASSWORD: reward_pass
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql
  backend:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000
    volumes:
      - ../app:/app/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      - MYSQL_HOST=db
      - MYSQL_PORT=3306
    env_file:
      - ../.env
volumes:
  db_data:

